
@{
    ViewBag.Title = "Lỗi trong quá trình thực thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Lỗi trong quá trình thực thi</h3>
        <div class="card-tools pull-right">
        </div>
    </div>
    <div class="card-body" style="text-align:center;">
        <br />
        <h4 style="color: #B33A38;">Thao tác bạn đang thực hiện phát sinh lỗi. Vui lòng kiểm tra hệ lại hệ thống của bạn</h4>
        <br /><br /><br />
    </div>
</div>

