
@{
    ViewBag.Title = "Truy cập bị từ chối";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Truy cập bị từ chối</h3>
        <div class="card-tools pull-right">
        </div>
    </div>
    <div class="card-body" style="text-align:center;">
        <br />
        <h4 style="color: #B33A38;">Bạn không có quyền thao tác tính năng này!</h4>
        <p style="color: #B33A38;">Vui lòng liên hệ bộ phận quản lý để được hướng dẫn</p>
        <a href="/administrator/login">Đăng nhập</a>
        <br /><br /><br />
    </div>
</div>