@using EmployeeTracking.Data.ModelCustom
@model TrackDetailViewModel
@{
    var lstPosm = (List<EmployeeTracking.Data.ModelCustom.MinModel>)ViewBag.PosmType;
    List<string> s = new List<string>() { "DEFAULT", "SELFIE", "STORE_FAILED" };
}

@if (!s.Contains(Model.MediaTypeId))
{
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-4">
            @Html.DropDownList("dlPosmType", new SelectList(lstPosm, "Value", "Text", Model.MediaTypeId), new { @class = "form-control", @readonly = true, @change="return;"})
        </div>
        <div class="col-sm-4">
            <input type="number" value="@Model.TrackDetailImages.First().PosmNumber" class="form-control" id="ValuePosmOfMediaType" readonly/>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
}

<div class="row">
    @foreach (var image in Model.TrackDetailImages.OrderBy(x => x.CreateDate).ToList())
    {
        <div class="col-md-3" id="track-detail-@image.Id" style="margin-bottom: 10px">
            <img src="@(image.Url + image.FileName)" style="width:auto; height:70px;" class="img-origin" />
            <div style="margin-top: 5px">
                <strong>@image.MediaTypeSub</strong>
            </div>
        </div>
    }
</div>
<hr />