@using EmployeeTracking.Data.ModelCustom
@model List<TrackDetailViewModel>
@{
    var idx = 0;
}
@if (Model.Count > 0)
{
    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
        <div class='carousel-outer'>
            <!-- Wrapper for slides -->
            <div class='carousel-inner'>
                @foreach (var item in Model)
                {
                    foreach (var image in item.TrackDetailImages.OrderBy(x => x.CreateDate).ToList())
                    {
                        //var imageFileName = image.FileName.Substring(0, image.FileName.Length - 4) + "_rewrite" + image.FileName.Substring(image.FileName.Length - 4);
                        //var url = image.Url + imageFileName;

                        <div class='item @(idx == 0 ? "active" : "")'>
                            <img src='@(image.Url + image.FileName)' />
                        </div>
                        idx++;
                    }
                }
            </div>

            <!-- Controls -->
            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left'></span>
            </a>
            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                <span class='glyphicon glyphicon-chevron-right'></span>
            </a>
        </div>

        <!-- Indicators -->
        <ol class='carousel-indicators mCustomScrollbar'>
            @{ idx = 0;}
            @foreach (var item in Model)
            {
                foreach (var image in item.TrackDetailImages.OrderBy(x => x.CreateDate).ToList())
                {
                    //var imageFileName = image.FileName.Substring(0, image.FileName.Length - 4) + "_rewrite" + image.FileName.Substring(image.FileName.Length - 4);
                    //var url = image.Url + imageFileName;

                    <li data-target='#carousel-custom' data-slide-to='@idx' class='@(idx == 0 ? "active" : "")'><img src='@(image.Url + image.FileName)' /></li>
                    idx++;
                }
            }
        </ol>
    </div>

}
else
{
    <h4>Không có hình ảnh.</h4>
}
