@model List<EmployeeTracking.Data.ModelCustom.StoreManagerModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*chia lam 3 phan view: 1. Statistic chart, 2. phan google maps &Aacute; selections, 3. popupDetail*@
@*=============================== Day la phan chart ========================*@

@*=============================== Het phan chart ========================*@

@*=============================== Day la phan google maps vs selectiion========================*@

@*=============================== Het phan chart ========================*@

@*=============================== Day la phan popup detail========================*@

<!-- Modal Addnew-->
<div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainer'></div>
    </div>
</div>

@*=============================== Het phan chart ========================*@

@*=============================== Day la phan xu ly javascriipt========================*@