@model  List<EmployeeTracking.Data.ModelCustom.StatisticNumberStoreDay>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .axias path, .axias line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axias path {
        display: none;
    }

    #mapLoad {
    }

    .iframe {
        width: 100%;
    }

    .gmap_canvas {
        width: 100% !important;
    }

    .mapouter {
        width: 100% !important;
    }

    .form-control {
        border-radius: 5px;
    }

    .sltProvince {
        text-decoration: none;
        color: black;
    }

    .sltProvince {
        text-decoration: none;
    }

        .sltProvince:hover {
            text-decoration: underline;
            color: cadetblue;
            cursor: pointer;
        }

    .lstProvince {
        padding: 3px;
        background-color: antiquewhite;
        border-bottom: 0.15px solid blue;
        margin-top: 1px;
    }

    .lstProvince {
        padding: 3px;
        background-color: #F4F4F4;
        border-bottom: 0.15px solid blue;
        margin-top: 1px;
        color: black;
    }
</style>
<style>

    #carousel-custom {
        margin: 10px auto;
        width: 400px;
    }

        #carousel-custom .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }

            #carousel-custom .carousel-indicators li {
                background-color: transparent;
                -webkit-border-radius: 0;
                border-radius: 0;
                display: inline-block;
                height: auto;
                margin: 0 !important;
                width: auto;
            }

                #carousel-custom .carousel-indicators li img {
                    display: block;
                    opacity: 0.5;
                    height: 50px;
                }

                #carousel-custom .carousel-indicators li.active img {
                    opacity: 1;
                }

                #carousel-custom .carousel-indicators li:hover img {
                    opacity: 0.75;
                }

        #carousel-custom .carousel-outer {
            position: relative;
        }
</style>


@*chia lam 3 phan view: 1. Statistic chart, 2. phan google maps &Aacute; selections, 3. popupDetail*@
@*=============================== Day la phan chart ========================*@
<div class="">
    <h2>Thống kê doanh thu</h2>
    <button class="btn btn-danger" data-toggle="modal" data-target="#myModalDetail">
        Show modal
    </button>
</div>
<div class="row">
    <div class="col-md-12" style="display:flex;justify-content:center;">
        <div id="chartLoad" style="
    padding: 5px;
    border: 1px solid #2519d2f7;
    border-radius: 9px;
    width: 80%;
    display: flex;
    justify-content: center;
">

        </div>
    </div>
</div>

@*=============================== Het phan chart ========================*@
<div class="row" style="margin-top:75px;">
    <div class="col-md-12">
        <div class="col-md-8">
            <div id="map" style="position: relative;overflow: hidden;height: 100%;min-height: 500px;"></div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4 form-group">
                        <select style="width:100%;"
                                id="provinceVietNam"
                                class="provinceVietNam1 form-control">
                            <option value="0" selected>
                                Toàn quốc
                            </option>
                            <option value="1">
                                Hồ Chí Minh
                            </option>
                            <option value="2">
                                Hà Nội
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select style="width:100%;" class="districtVietNam form-control">
                            <option value="0">
                                Quận/huyện
                            </option>
                            <option value="1">
                                Quận 2
                            </option>
                            <option value="2">
                                Quận 3
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select style="width:100%;" class="wardVietNam form-control">
                            <option value="0">
                                Phường 1
                            </option>
                            <option value="1">
                                Phường 2
                            </option>
                            <option value="2">
                                Phường 3
                            </option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <ul style="width:100%;height:250px;overflow-y:scroll;list-style-type:none;padding:0;">
                            <li class="lstProvince">
                                <a title="TP.Hồ Chí Minh" class="sltProvince">
                                    Tp.Hồ Chí Minh<i class="">(106)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                            <li class="lstProvince">
                                <a title="An Giang" class="sltProvince">
                                    An Giang<i class="">(11)</i>
                                </a>
                            </li>
                        </ul>
                    </div>



                    <div class="col-md-12">
                        <div>
                            <table style="width:100%" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Cửa hàng
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="lstStore">
                                    <tr>
                                        <td>
                                            Q1: 39 Lý Tự Trọng, Bến Nghé, Quận 1, Hồ Chí Minh, Việt Nam
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Q2: 33 Lý Tự Trọng, Bến Nghé, Quận 2, Hồ Chí Minh, Việt Nam
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Q1: : 22 Lý Tự Trọng, Bến Nghé, Quận 1, Hồ Chí Minh, Việt Nam
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #carousel-custom {
        margin: 0 !important;
        width: 71%;
    }
</style>

<!-- Modal Addnew-->
<div id="myModalDetail" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:80%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin cửa hàng</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Mã cửa hàng
                                    </th>
                                    <th>
                                        Tên cửa hàng
                                    </th>
                                    <th>
                                        Loại hình
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                        Tỉnh thành
                                    </th>
                                    <th>
                                        Quận huyện
                                    </th>
                                    <th>
                                        Phường xã
                                    </th>
                                    <th>
                                        Số nhà
                                    </th>
                                    <th>
                                        Tên đường
                                    </th>
                                    <th>
                                        Khu vực
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 table-responsive" style="padding-left:0;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">THÔNG TIN POSM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:75%">
                                        Tranh Pepsi 7Up
                                    </td>
                                    <td>
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tranh Pepsi 7Up
                                    </td>
                                    <td>
                                        3
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="" style="width:100%;">
                                <tr>
                                    <td>
                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                        <button class="btn btn-xs btn-info">...</button>
                                    </td>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td style="padding-top:25px;">
                                            <div id="track-carousel" style="max-width:65%;">
                                                <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                                                    <div class="carousel-outer">
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner">
                                                            <div class="item active">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181448-791cdf65-6e0c-41b2-906e-301d650dc8df.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181451-34c6d4ce-7c68-41bd-8319-891c28d5f92b.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190747-4bec43f6-879b-4e6a-a987-9eb7c2f52cfa.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190752-a01dd743-b83e-4233-a787-f58c5da4c089.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127181447-2175ac7a-992e-4cfc-b47a-7813dbe119f5.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127190741-6d0e103f-2787-44bf-867a-69706535ac16.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181454-c03834fb-79d1-4fe5-9695-7e0680f8506f.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181506-b4933c56-8399-4c14-a2ea-610261011501.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190757-2abcc380-7be1-4b17-bde6-3b935f870b71.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190803-bccff0be-496a-403e-912d-2c2fba7fe429.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190809-18e29135-9d32-4e93-829b-b1c3041d9377.jpg">
                                                            </div>
                                                        </div>

                                                        <!-- Controls -->
                                                        <a class="left carousel-control" href="#carousel-custom" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                                        </a>
                                                        <a class="right carousel-control" href="#carousel-custom" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                        </a>
                                                    </div>

                                                    <!-- Indicators -->
                                                    <ol class="carousel-indicators mCustomScrollbar">

                                                        <li data-target="#carousel-custom" data-slide-to="0" class="active"><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181448-791cdf65-6e0c-41b2-906e-301d650dc8df.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="1" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181451-34c6d4ce-7c68-41bd-8319-891c28d5f92b.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="2" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190747-4bec43f6-879b-4e6a-a987-9eb7c2f52cfa.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="3" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190752-a01dd743-b83e-4233-a787-f58c5da4c089.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="4" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127181447-2175ac7a-992e-4cfc-b47a-7813dbe119f5.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="5" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127190741-6d0e103f-2787-44bf-867a-69706535ac16.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="6" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181454-c03834fb-79d1-4fe5-9695-7e0680f8506f.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="7" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181506-b4933c56-8399-4c14-a2ea-610261011501.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="8" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190757-2abcc380-7be1-4b17-bde6-3b935f870b71.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="9" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190803-bccff0be-496a-403e-912d-2c2fba7fe429.jpg"></li>
                                                        <li data-target="#carousel-custom" data-slide-to="10" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190809-18e29135-9d32-4e93-829b-b1c3041d9377.jpg"></li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="
    border: none;
">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

@*=============================== Day la phan xu ly javascriipt========================*@

<!--Chart-->

<script src="~/Assets/d3/d3.v3.min.js"></script>
<script>
    var margin = { top: 20, right: 20, bottom: 30, left: 40 },
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x0 = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var x1 = d3.scale.ordinal();

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x0)
        .tickSize(0)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var color = d3.scale.ordinal()
        .range(["#2ECC40", "#AAAAAA", "#FFDC00"]);

    var svg = d3.select('#chartLoad').append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    //var svg = d3.select("");

    d3.json("https://api.myjson.com/bins/pcwui", function (error, data) {

        var categoriesNames = data.map(function (d) { return d.categorie; });
        var rateNames = data[0].values.map(function (d) { return d.rate; });

        x0.domain(categoriesNames);
        x1.domain(rateNames).rangeRoundBands([0, x0.rangeBand()]);
        y.domain([0, d3.max(data, function (categorie) { return d3.max(categorie.values, function (d) { return d.value; }); })]);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            ;

        svg.append("g")
            .attr("class", "y axis")
            .style('opacity', '0')
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .style('font-weight', 'bold')
            .text("Cửa hàng");

        svg.select('.y').transition().duration(500).delay(1300).style('opacity', '1');

        var slice = svg.selectAll(".slice")
            .data(data)
            .enter().append("g")
            .attr("class", "g")
            .attr("transform", function (d) { return "translate(" + x0(d.categorie) + ",0)"; });

        slice.selectAll("rect")
            .data(function (d) { return d.values; })
            .enter().append("rect")
            .attr("width", x1.rangeBand())
            .attr("x", function (d) { return x1(d.rate); })
            .style("fill", function (d) { return color(d.rate) })
            .attr("y", function (d) { return y(0); })
            .attr("height", function (d) { return height - y(0); })
            .on("mouseover", function (d) {
                d3.select(this).style("fill", d3.rgb(color(d.rate)).darker(2));
            })
            .on("mouseout", function (d) {
                d3.select(this).style("fill", color(d.rate));
            });

        slice.selectAll("rect")
            .transition()
            .delay(function (d) { return Math.random() * 1000; })
            .duration(1000)
            .attr("y", function (d) { return y(d.value); })
            .attr("height", function (d) { return height - y(d.value); });

        //Legend
        var legend = svg.selectAll(".legend")
            .data(data[0].values.map(function (d) { return d.rate; }).reverse())
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; })
            .style("opacity", "0");

        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", function (d) { return color(d); });

        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function (d) { return d; });

        legend.transition().duration(500).delay(function (d, i) { return 1300 + 100 * i; }).style("opacity", "1");

    });

</script>

<script>
    var data = [
        {
            id: 0,
            text: 'Toàn Quốc'
        },
        {
            id: 1,
            text: 'Hồ Chí Minh'
        },
        {
            id: 2,
            text: 'Hà Nội'
        },
        {
            id: 3,
            text: 'Bình Định'
        },
        {
            id: 4,
            text: 'Huế'
        }
    ];

    var district = [
        {
            id: 0,
            text: 'Quận Gò Vấp'
        },
        {
            id: 1,
            text: 'Quận 2'
        },
        {
            id: 2,
            text: 'Quận 1'
        },
        {
            id: 3,
            text: 'Quận 3'
        },
        {
            id: 4,
            text: 'Quận 4'
        }
    ]

    var ward = [
        {
            id: 0,
            text: 'Phường 1'
        },
        {
            id: 1,
            text: 'Phường 2'
        },
        {
            id: 2,
            text: 'Phường 3'
        },
        {
            id: 3,
            text: 'Phường 4'
        },
        {
            id: 4,
            text: 'Phường 5'
        }
	]

	window.onload = () => {
		//Step 1: Load vào tỉnh/thành phố
		$.ajax({
			url: '@Url.Action("GetProvinceSelect", "Location")',
			type: "GET",
			success: function(data) {
				var s = '<option value=' + 0 + '>' + 'Toàn quốc' + '<option>';
				for (var i = 0; i < data.length; i++) {

					s = s + '<option value=' + data[i].Id + '>' + data[i].Name + '<option>';
				}
				$('.provinceVietNam1').html(s);
			}
		});
    }

	$(document).ready(function () {

		//Step 2: Bẫy sự kiện onchange cho tỉnh/thành phố
		$("#provinceVietNam").on("change", function () {
			var id = $("#provinceVietNam option:selected").val();
			if (id === "0") {
                $(".districtVietNam").hide();
                $(".wardVietNam").hide();
            } else {
				$(".districtVietNam").show();
                $(".wardVietNam").show();


				//Step 3: Nếu có 1 tỉnh/thành phố được chọn bởi người dùng
				$.ajax({
                    url: '@Url.Action("GetDistrictSelect", "Location")',
                    type: "GET",
					data: {'provinceId': id},
					success: function (data) {
						//Step 4: Load dữ liệu cho quận/huyện theo tỉnh đã chọn ở trên
                        var s = '';
						for(var i=0; i<data.length; i++) {
							s = s + '<option value=' + data[i].Id + '>'+ data[i].Name +  '<option>';
						}
						$('.districtVietNam').html(s);
                    }
				});
			}

		});

		//Step 5: Bẫy sự kiện onchange cho quận/huyện
        $(".districtVietNam").on("change", function () {
	        debugger;
			var id = $(".districtVietNam option:selected").val();

			if (id === "0") {
                $(".wardVietNam").hide();
            } else {
				$(".wardVietNam").show();

				//Step 6: Nếu có 1 quận/huyện được chọn bởi người dùng
				$.ajax({
                    url: '@Url.Action("GetWardSelect", "Location")',
                    type: "GET",
					data: {'districtId': id},
					success: function (data) {
						//Step 7: Load dữ liệu của phường/xã theo {tỉnh/thành phố + quận/huyện} ở trên
                        var s = '';
						for(var i=0; i<data.length; i++) {
							s = s + '<option value=' + data[i].Id + '>'+ data[i].Name +  '<option>';
						}
						$('.wardVietNam').html(s);
                    }
				});
            }
        });
	});

</script>


<script>

    // This example displays a marker at the center of Australia.
    // When the user clicks the marker, an info window opens.

    function initMap() {
        var uluru = { lat: 10.8222049, lng: 106.6853089 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
        });

        var contentString = 'Đây là nhà của Luận';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: 'Uluru (Ayers Rock)'
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
            $("#myModalDetail").modal('show');
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvy88LZvcLNu0tkNJc9fkX8j2WtFavfTI&callback=initMap">
</script>



