@model List < EmployeeTracking.Data.ModelCustom.StoreManagerModel >
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*chia lam 3 phan view: 1. Statistic chart, 2. phan google maps &Aacute; selections, 3. popupDetail*@
<h2>View</h2>

