@model EmployeeTracking.Data.ModelCustom.StoreInfoViewModel

@*=============================== Day la phan popup detail========================*@

<!-- Modal Addnew-->
<div id="myModalDetail" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:95%">
        <div class="modal-dialog" style="width:80%">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông tin cửa hàng</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã cửa hàng
                                        </th>
                                        <th>
                                            Tên cửa hàng
                                        </th>
                                        <th>
                                            Loại hình
                                        </th>
                                        <th>
                                            Số điện thoại
                                        </th>
                                        <th>
                                            Tỉnh thành
                                        </th>
                                        <th>
                                            Quận huyện
                                        </th>
                                        <th>
                                            Phường xã
                                        </th>
                                        <th>
                                            Số nhà
                                        </th>
                                        <th>
                                            Tên đường
                                        </th>
                                        <th>
                                            Khu vực
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>sfs</td>
                                        <td>sdgsd</td>
                                        <td>sdg</td>
                                        <td>sdg</td>
                                        <td>sdg</td>
                                        <td>sdg</td>
                                        <td>sdg</td>
                                        <td>sg</td>
                                        <td>sdgsdg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 table-responsive" style="padding-left:0;">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">THÔNG TIN POSM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:75%">
                                            Tranh Pepsi & 7Up
                                        </td>
                                        <td>
                                            3
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tranh Pepsi & 7Up
                                        </td>
                                        <td>
                                            3
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-8">
                            <table>
                                <thead>
                                    <tr>
                                        <td>
                                            <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                            <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                            <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                            <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                            <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                            <button class="btn btn-xs btn-info">...</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:100%;padding-top:25px;">
                                            <div id="track-carousel">
                                                <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                                                    <div class="carousel-outer">
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner">
                                                            <div class="item active">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123403-3ea70edd-9d9e-440c-ae40-c7741ff5f029.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123404-b7817a43-0092-409b-9a3a-e44736098daf.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-443c242d-5502-4742-af96-610d8737240c.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-9c44b154-8b9f-4cd9-a19d-0accdad4ce0b.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124123402-6399bdc9-2840-428d-a21c-2511ab958985.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124130910-f63c7c5c-1a30-4a48-9be9-3b6cf2703d4d.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123405-e9459ae4-f5be-47af-ade7-f161a9c45890.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123404-070751a1-8a74-4aa3-be76-b516a3054f36.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123406-76d08e31-9e3e-49f2-bcb7-b270adba4230.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123407-06c70407-bad3-414a-83bd-e27438b329b8.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123408-223455e1-c5b3-44ff-acde-b76c64b819bf.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130912-eedb732a-e485-4a01-8c49-2ec5dffdb75a.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-5a552591-741c-49d6-a1e1-7c45bdfa5353.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-acc89c0d-2d11-407b-a70b-7b0d34fb3ff8.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130915-135d3cbc-fba1-4fb1-abf5-b9e9c507f8bc.jpg">
                                                            </div>
                                                            <div class="item ">
                                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130916-32b466b1-30b8-4b25-a0f1-2de80f4c04be.jpg">
                                                            </div>
                                                        </div>
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Thông tin cửa hàng</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col-md-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        Mã cửa hàng
                                                                                    </th>
                                                                                    <th>
                                                                                        Tên cửa hàng
                                                                                    </th>
                                                                                    <th>
                                                                                        Loại hình
                                                                                    </th>
                                                                                    <th>
                                                                                        Số điện thoại
                                                                                    </th>
                                                                                    <th>
                                                                                        Tỉnh thành
                                                                                    </th>
                                                                                    <th>
                                                                                        Quận huyện
                                                                                    </th>
                                                                                    <th>
                                                                                        Phường xã
                                                                                    </th>
                                                                                    <th>
                                                                                        Số nhà
                                                                                    </th>
                                                                                    <th>
                                                                                        Tên đường
                                                                                    </th>
                                                                                    <th>
                                                                                        Khu vực
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="col-md-4 table-responsive" style="padding-left:0;">
                                                                        <table class="table table-bordered table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2">THÔNG TIN POSM</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="width:75%">
                                                                                        Tranh Pepsi & 7Up
                                                                                    </td>
                                                                                    <td>
                                                                                        3
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        Tranh Pepsi & 7Up
                                                                                    </td>
                                                                                    <td>
                                                                                        3
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <table>
                                                                            <thead>
                                                                                <tr>
                                                                                    <td>
                                                                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                                                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                                                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                                                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                                                                        <button class="btn btn-xs btn-info">CH001_31-11-2018</button>
                                                                                        <button class="btn btn-xs btn-info">...</button>
                                                                                    </td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="width:100%;padding-top:25px;">
                                                                                        <div id="track-carousel">
                                                                                            <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                                                                                                <div class="carousel-outer">
                                                                                                    <!-- Wrapper for slides -->
                                                                                                    <div class="carousel-inner">
                                                                                                        <div class="item active">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123403-3ea70edd-9d9e-440c-ae40-c7741ff5f029.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123404-b7817a43-0092-409b-9a3a-e44736098daf.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-443c242d-5502-4742-af96-610d8737240c.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-9c44b154-8b9f-4cd9-a19d-0accdad4ce0b.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124123402-6399bdc9-2840-428d-a21c-2511ab958985.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124130910-f63c7c5c-1a30-4a48-9be9-3b6cf2703d4d.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123405-e9459ae4-f5be-47af-ade7-f161a9c45890.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123404-070751a1-8a74-4aa3-be76-b516a3054f36.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123406-76d08e31-9e3e-49f2-bcb7-b270adba4230.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123407-06c70407-bad3-414a-83bd-e27438b329b8.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123408-223455e1-c5b3-44ff-acde-b76c64b819bf.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130912-eedb732a-e485-4a01-8c49-2ec5dffdb75a.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-5a552591-741c-49d6-a1e1-7c45bdfa5353.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-acc89c0d-2d11-407b-a70b-7b0d34fb3ff8.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130915-135d3cbc-fba1-4fb1-abf5-b9e9c507f8bc.jpg">
                                                                                                        </div>
                                                                                                        <div class="item ">
                                                                                                            <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130916-32b466b1-30b8-4b25-a0f1-2de80f4c04be.jpg">
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <!-- Controls -->
                                                                                                    <a class="left carousel-control" href="#carousel-custom" data-slide="prev">
                                                                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                                                                    </a>
                                                                                                    <a class="right carousel-control" href="#carousel-custom" data-slide="next">
                                                                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <!-- Controls -->
                                                                                                <a class="left carousel-control" href="#carousel-custom" data-slide="prev">
                                                                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                                                                </a>
                                                                                                <a class="right carousel-control" href="#carousel-custom" data-slide="next">
                                                                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                                                                </a>
                                                                                            </div>

                                                                                            <!-- Indicators -->
                                                                                            <ol class="carousel-indicators mCustomScrollbar">
                                                                                                <!-- Indicators -->
                                                                                                <ol class="carousel-indicators mCustomScrollbar">

                                                                                                    <li data-target="#carousel-custom" data-slide-to="0" class="active"><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123403-3ea70edd-9d9e-440c-ae40-c7741ff5f029.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="1" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123404-b7817a43-0092-409b-9a3a-e44736098daf.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="2" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-443c242d-5502-4742-af96-610d8737240c.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="3" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-9c44b154-8b9f-4cd9-a19d-0accdad4ce0b.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="4" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124123402-6399bdc9-2840-428d-a21c-2511ab958985.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="5" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124130910-f63c7c5c-1a30-4a48-9be9-3b6cf2703d4d.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="6" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123405-e9459ae4-f5be-47af-ade7-f161a9c45890.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="7" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123404-070751a1-8a74-4aa3-be76-b516a3054f36.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="8" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123406-76d08e31-9e3e-49f2-bcb7-b270adba4230.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="9" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123407-06c70407-bad3-414a-83bd-e27438b329b8.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="10" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123408-223455e1-c5b3-44ff-acde-b76c64b819bf.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="11" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130912-eedb732a-e485-4a01-8c49-2ec5dffdb75a.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="12" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-5a552591-741c-49d6-a1e1-7c45bdfa5353.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="13" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-acc89c0d-2d11-407b-a70b-7b0d34fb3ff8.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="14" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130915-135d3cbc-fba1-4fb1-abf5-b9e9c507f8bc.jpg"></li>
                                                                                                    <li data-target="#carousel-custom" data-slide-to="15" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130916-32b466b1-30b8-4b25-a0f1-2de80f4c04be.jpg"></li>
                                                                                                </ol>
                                                                                        </div>
                                                                    </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="
                                                    <li data-target="#carousel-custom" data-slide-to="0" class="active"><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123403-3ea70edd-9d9e-440c-ae40-c7741ff5f029.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="1" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124123404-b7817a43-0092-409b-9a3a-e44736098daf.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="2" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-443c242d-5502-4742-af96-610d8737240c.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="3" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/DEFAULT/19724185120181124130911-9c44b154-8b9f-4cd9-a19d-0accdad4ce0b.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="4" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124123402-6399bdc9-2840-428d-a21c-2511ab958985.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="5" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/SELFIE/19724185120181124130910-f63c7c5c-1a30-4a48-9be9-3b6cf2703d4d.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="6" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123405-e9459ae4-f5be-47af-ade7-f161a9c45890.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="7" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123404-070751a1-8a74-4aa3-be76-b516a3054f36.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="8" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123406-76d08e31-9e3e-49f2-bcb7-b270adba4230.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="9" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123407-06c70407-bad3-414a-83bd-e27438b329b8.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="10" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124123408-223455e1-c5b3-44ff-acde-b76c64b819bf.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="11" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130912-eedb732a-e485-4a01-8c49-2ec5dffdb75a.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="12" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-5a552591-741c-49d6-a1e1-7c45bdfa5353.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="13" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130913-acc89c0d-2d11-407b-a70b-7b0d34fb3ff8.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="14" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130915-135d3cbc-fba1-4fb1-abf5-b9e9c507f8bc.jpg"></li>
                                                    <li data-target="#carousel-custom" data-slide-to="15" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/24/f2ab7456-7fb6-403d-83a2-21415bd6ded9/TRANH_PEPSI_AND_7UP/19724185120181124130916-32b466b1-30b8-4b25-a0f1-2de80f4c04be.jpg"></li>
                                                </ol>
                                            </div>
            </div>
            </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer" style="
    border: none;
">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
</div>
		</div>

	</div>
</div>

@*=============================== Day la phan xu ly javascriipt========================*@