<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EmplTrackingEntities" connectionString="metadata=res://*/DB.EmplTracking.csdl|res://*/DB.EmplTracking.ssdl|res://*/DB.EmplTracking.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=103.48.194.70;user id=EmplTracking2018;password=EmplTracking2018@dolphinsolutions.vn;persistsecurityinfo=True;database=digixtrackingdb_dev&quot;" providerName="System.Data.EntityClient" /><add name="employeetracking_devEntities" connectionString="metadata=res://*/Database.DB.csdl|res://*/Database.DB.ssdl|res://*/Database.DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=103.48.194.70;user id=EmplTracking2018;password=EmplTracking2018@dolphinsolutions.vn;database=digixtrackingdb_dev;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EmplTrackingEntities" connectionString="metadata=res://*/DB.EmplTracking.csdl|res://*/DB.EmplTracking.ssdl|res://*/DB.EmplTracking.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=103.48.194.70;user id=EmplTracking2018;password=EmplTracking2018@dolphinsolutions.vn;persistsecurityinfo=True;database=digixtrackingdb_dev&quot;" providerName="System.Data.EntityClient" /><add name="employeetracking_devEntities" connectionString="metadata=res://*/Database.DB.csdl|res://*/Database.DB.ssdl|res://*/Database.DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=103.48.194.70;user id=EmplTracking2018;password=EmplTracking2018@dolphinsolutions.vn;database=employeetracking_dev;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>